/* Creamos nuestra normalizacion css*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    height: 100%;
}

body {
    font-family: sans-serif;
    letter-spacing: 0.03em;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
/* Estilos para el header donde tenemos nuestro navegador (nav)*/
nav{
    max-width: 1200px;
    margin: auto;
    background-color: #6a6a6a;
    font-size: 20px;
    margin-top: 20px;
    padding: 2px;
    border-radius: 12px;
}

.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu-horizontal > li > a{
    display: block;
    padding: 15px 25px;
    color: white;
    text-decoration: none;
}
.menu-horizontal > li:hover{
    background-color: #3498db;
    border-radius: 80px;
}

.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
}

.menu-horizontal li:hover .menu-vertical{
    display: block;
}

.menu-vertical li:hover{
    background-color: #3498db;
    border-radius: 80px;
}

.menu-vertical li a {
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}
/* Estilos para el body donde se encuentra el main . Le damos estilos a nuestro contenido*/
.titulo{
    text-align: center;
    font-size: 40px;
    color: #6a6a6a;
    margin-top: 100px;
    font-weight: 100;
}

.contenedor{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.contenedor .tarjetas{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.contenedor .tarjetas:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.contenedor .tarjetas img{
    width: 330px;
    height: 220px;
}

.contenedor .tarjetas h5{
    font-weight: 600;
}

.contenedor .tarjetas .descripsion-tarjetas{
    padding: 0 1rem ;
    font-size: 16px;
    font-weight: 300;
}

.contenedor .tarjetas a{
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}
/* Estilos para nuestro pie de pagina (footer)*/
.menu-footer{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu-footer > li > a{
    display: block;
    padding: 15px 25px;
    color: white;
    text-decoration: none;
}
.menu-footer > li:hover{
    background-color: #3498db;
    border-radius: 80px;
}

footer{
    max-width: 1250px;
    background-color: #6a6a6a;
    padding: 25px 25px;
    text-align: center;
    color: white;
    margin-top: auto;
    border-radius: 12px;
    font-size: 20px;
    align-content: center;

}